.ac-calendar-container .ac-table {
    background-color: #333333 !important;
    border: 1px solid #000000 !important;
}
.ac-calendar-container .ac-table th.ac-heading span {color:#ffffff !important;}
.ac-calendar-container .ac-table th.ac-heading {background-color:#333333 !important;}
.ac-calendar-container .ac-table th.ac-heading .ac-dropdown-container select {border:1px solid #000000 !important;}
.ac-calendar-container .ac-table th.ac-heading .ac-dropdown-container span {color:#000000 !important;}
.ac-calendar-container .ac-table .ac-weekdays td {color:#ffffff !important;}
.ac-calendar-container .ac-calendar-legend {background-color:#333333 !important; border:1px solid #000000 !important;}
.ac-calendar-container .ac-calendar-legend p {color:#ffffff !important;}
.ac-calendar-container .ac-table td.status-ac-grey-out-history {background-color:#858585 !important;}
.ac-calendar-container .ac-prev {background: transparent url(https://www.availabilitycalendar.com/css-example-1-left.png) no-repeat left top;}
.ac-calendar-container .ac-prev img {border:none;}

.ac-calendar-container .ac-next {background: transparent url(https://www.availabilitycalendar.com/css-example-1-right.png) no-repeat left top;}
.ac-calendar-container .ac-next img {border:none;}
.ac-calendar-container .ac-table td.ac-pad {
    background-color: #333333 !important;
}
.ac-calender-container .ac-calendar-legend-box div {background-color:#333333 !important; border: 0px !important;}
.ac-calender-container .ac-calendar-legend-box .ac-legend-item span {color:#ffffff !important;}
    
